
<style type="text/css">

.photo_main {position: relative;}
.photo_main_up{ position: absolute; left: 0; bottom:0; 
                font-size: 1.83em;
                margin-bottom:5px;              
 }
</style>


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <!-- Buttons --> 
    <center>
    <h1>This is index page.</h1>
    <a href="/home/write" class="btn btn-primary" role="button">글쓰기</a>
    </center>
    </div>
    <div class="col-md-4"></div>
</div>

<div style="height:100px;"></div> <!-- footer 여백 -->




<!-- bootstrap theme from bootswatch! -->


