<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4"><a href="/home/coupon">CU</a></div>
            <div class="col-md-4"><a href="/home/coupon_gs">GS25</a></div>
            <div class="col-md-4"><a href="/home/coupon_se">세븐일레븐</a></div>
        </div>
       
        <div class="row"> 
            <div style="height:600px;" class="col-md-12">
            <iframe src="http://gs25.gsretail.com/gscvs/ko/products/event-goods" width="95%" height=1000 scrolling="yes" />
            </div>
        </div>            
    </div>
    <div class="col-md-2"></div>
</div>

<!--





-->