<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3"><a href="/home/coupon"><img src=http://cvs-ev-shnoah-1.c9.io/img/cu.png style="padding-bottom:7px;"></a></div>
            <div class="col-md-3"><a href="/home/coupon_gs"><img src=http://cvs-ev-shnoah-1.c9.io/img/gs.png></a></div>
            <div class="col-md-3"><a href="/home/coupon_se"><img src=http://cvs-ev-shnoah-1.c9.io/img/se.png></a></div>
            <div class="col-md-3" style="font-size:16pt;">ETC</div>
        </div>
        <div class="row"> 
            <div style="height:600px;" class="col-md-12">
            <iframe src="https://www.7-eleven.co.kr/product/presentList.asp" width="95%" height=1000 scrolling="yes" />
            </div>
        </div>            
    </div>
    <div class="col-md-2"></div>
</div>

<!--


http://gs25.gsretail.com/gscvs/ko/products/event-goods
https://www.7-eleven.co.kr/product/presentList.asp

-->